<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="icon" href="/images/fixer_logo.png">
    <title>Form Response</title>
    <!-- import Bootstrap CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/form-validation.css" rel="stylesheet">
    <!-- import jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- import Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $( function() {
            $('#ajax-button').click(
            function() {
                var ans = <%- JSON.stringify(answers) %>;
                var insertUrl= '../manpowerform/insert';
                var completeUrl='../manpowerform/complete';
                $.ajax({
                    url: insertUrl,
                    type:'POST',
                    dataType: 'json',
                    data : ans,
                    timeout:10000,
                }).done(function(res) {
                    /*if(res.message == "Success" ){
                        //redirect to new route
                    }*/
                    location.href=completeUrl;

                }).fail(function(xhr) {
                    console.log(xhr);
                })
            });
        });
    </script>

</head>

<body class="bg-light">
    <div class="container">
        <div class="py-5">
            <h4>Registration Screen</h4>
        </div>
        <div class="py-3 col-md-3">
            <input type="button" onclick="window.history.back();" value="Back" class="btn btn-block">
        </div>
        
        <table class="table table-sm">
            <thead>
                <tr class="thead-dark">
                    <th class="w-25" scope="col">Question</th>
                    <th class="w-75 align-middle" scope="col" colspan="2">Answer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="w-25 table-active">Requester Name<br><span class="text-muted">依頼者</span></th>
                    <th class="w-75 align-middle" colspan="2"><%= answer1 %></th>
                </tr>
                <tr>
                    <th class="table-secondary">Requester Department<br><span class="text-muted">依頼者の部署</span></th>
                    <th class="align-middle" colspan="2"><%= answer2 %></th>
                </tr>
                <tr>
                    <th class="table-active">Email<br><span class="text-muted">電子メール</span></th>
                    <th class="align-middle" colspan="2"><%= answer3 %></th>
                </tr>
                <tr>
                    <th class="table-secondary">Client Company Name<br><span class="text-muted">クライアントの会社</span></th>
                    <th class="align-middle" colspan="2"><%= answer6 %></th>
                </tr>
                <tr>
                    <th class="table-active">Client point of contact person name<br><span class="text-muted">クライアントの担当者の担当者</span></th>
                    <th class="align-middle" colspan="2"><%= answer7 %></th>
                </tr>
                <tr>
                    <th class="table-secondary">Client contact details (IM/phone)<br><span class="text-muted">クライアントとの連絡手段</span></th>
                    <th class="align-middle" colspan="2"><%= answer8 %></th>
                </tr>
                <tr>
                    <th class="table-active">Project Title<br><span class="text-muted">プロジェクトタイトル</span></th>
                    <th class="align-middle" colspan="2"><%= answer9 %></th>
                </tr>
                <tr>
                    <th class="table-secondary">Project Description<br><span class="text-muted">プロジェクトの詳細</span></th>
                    <th class="align-middle" colspan="2"><%= answer10 %></th>
                </tr>
                <tr>
                    <th class="table-active">Project Scope<br><span class="text-muted">プロジェクトの展望</span></th>
                    <th class="align-middle" colspan="2"><%= answer11 %></th>
                </tr>
                <tr>
                    <th class="table-secondary">How many people do you need?<br><span class="text-muted">どれくらいの人材が必要ですか？</span></th>
                    <th class="align-middle" colspan="2"><%= answers.how_people %></th>
                </tr>
                <tr>
                    <th class="table-active">Bilingual Resource needed?<br><span class="text-muted">バイリンガル人材は必要か？</span></th>
                    <th class="align-middle" colspan="2"><%= answer12 %></th>
                </tr>
                <tr>
                    <th class="table-secondary">Project expected kick off<br><span class="text-muted">プロジェクトの開始予定日</span></th>
                    <th class="align-middle" colspan="2"><%= answer13 %></th>
                </tr>
                <tr>
                    <th class="table-active">Project expected deadline<br><span class="text-muted">プロジェクトの終了予定日</span></th>
                    <th class="align-middle" colspan="2"><%= answer14 %></th>
                </tr>
                <tr>
                    <th class="table-secondary">Flexible Deadline<br><span class="text-muted">締め切りは変更可能か</span></th>
                    <th class="align-middle" colspan="2"><%= answer15 %></th>
                </tr>
                <tr>
                    <th class="w-25 table-active align-middle" rowspan="10">Frontend Technologies<br><span class="text-muted">フロントエンド技術</span></th>
                    <th class="w-25">HTML</th>
                    <th class="align-middle w-50"><%= answer16 %></th>
                </tr>
                <tr>
                    <th>React</th>
                    <th class="align-middle"><%= answer17 %></th>
                </tr>
                <tr>
                    <th>Angular</th>
                    <th class="align-middle"><%= answer18 %></th>
                </tr>
                <tr>
                    <th>JQuery</th>
                    <th class="align-middle"><%= answer19 %></th>
                </tr>
                <tr>
                    <th>Bootstrap</th>
                    <th class="align-middle"><%= answer20 %></th>
                </tr>
                <tr>
                    <th>Sass</th>
                    <th class="align-middle"><%= answer21 %></th>
                </tr>
                <tr>
                    <th>JSON</th>
                    <th class="align-middle"><%= answer22 %></th>
                </tr>
                <tr>
                    <th>Ajax</th>
                    <th class="align-middle"><%= answer23 %></th>
                </tr>
                <tr>
                    <th>not applicable</th>
                    <th class="align-middle"><%= answer24 %></th>
                </tr>
                <tr>
                    <th>other</th>
                    <th class="align-middle"><%= answer25 %></th>
                </tr>
                <tr>
                    <th class="table-secondary" rowspan="2">Cloud Platform<br><span class="text-muted">クラウドプラットフォーム</span></th>
                    <th class="align-middle" colspan="2"><%= answer26 %></th>
                </tr>
                <tr>
                    <th class="align-middle" colspan="2">other: <%= answer27 %></th>
                </tr>
                <tr>
                    <th class="table-active align-middle" rowspan="9">Backend Technologies<br><span class="text-muted">バックエンド技術</span></th>
                    <th>C#</th>
                    <th class="align-middle"><%= answer28 %></th>
                </tr>
                <tr>
                    <th>Java</th>
                    <th class="align-middle"><%= answer29 %></th>
                </tr>
                <tr>
                    <th>PHP</th>
                    <th class="align-middle"><%= answer30 %></th>
                </tr>
                <tr>
                    <th>Node.js</th>
                    <th class="align-middle"><%= answer31 %></th>
                </tr>
                <tr>
                    <th>Python</th>
                    <th class="align-middle"><%= answer32 %></th>
                </tr>
                <tr>
                    <th>vbnet</th>
                    <th class="align-middle"><%= answer33 %></th>
                </tr>
                <tr>
                    <th>Ruby</th>
                    <th class="align-middle"><%= answer34 %></th>
                </tr>
                <tr>
                    <th>not applicable</th>
                    <th class="align-middle"><%= answer35 %></th>
                </tr>
                <tr>
                    <th>other</th>
                    <th class="align-middle"><%= answer36 %></th>
                </tr>
                <tr>
                    <th class="table-secondary">If you need specific frameworks please specify here<br><span class="text-muted">もし特定のフレームワークが必要な時はこちらに記述してください。</span></th>
                    <th class="align-middle" colspan="2"><%= answer37 %></th>
                </tr>
                <tr>
                    <th class="table-active align-middle" rowspan="8">Database Technologies<br><span class="text-muted">データベース技術</span></th>
                    <th>MS SQL server</th>
                    <th class="align-middle"><%= answer38 %></th>
                </tr>
                <tr>
                    <th>MySQL</th>
                    <th class="align-middle"><%= answer39 %></th>
                </tr>
                <tr>
                    <th>PostgreSQL</th>
                    <th class="align-middle"><%= answer40 %></th>
                </tr>
                <tr>
                    <th>MongoDB</th>
                    <th class="align-middle"><%= answer41 %></th>
                </tr>
                <tr>
                    <th>Oracle</th>
                    <th class="align-middle"><%= answer42 %></th>
                </tr>
                <tr>
                    <th>CosmosDB</th>
                    <th class="align-middle"><%= answer43 %></th>
                </tr>
                <tr>
                    <th>not applicable</th>
                    <th class="align-middle"><%= answer44 %></th>
                </tr>
                <tr>
                    <th>other</th>
                    <th class="align-middle"><%= answer45 %></th>
                </tr>
                <tr>
                    <th class="table-secondary"rowspan="2">OS requirements<br><span class="text-muted">OSの要求</span></th>
                    <th class="align-middle" colspan="2"><%= answer46 %></th>
                </tr>
                <tr>
                    <th class="align-middle" colspan="2">other: <%= answer47 %></th>
                </tr>
                <tr>
                    <th class="table-active">other requirements<br><span class="text-muted">他の要求</span></th>
                    <th class="align-middle" colspan="2"><%= answer48 %></th>
                </tr>
                <tr>
                    <th class="table-secondary">Github account name<br><span class="text-muted">Githubのアカウント名</span></th>
                    <th class="align-middle" colspan="2"><%= answer49 %></th>
                </tr>
                <tr>
                    <th class="table-active">Slack account required<br><span class="text-muted">Slackアカウントの要求</span></th>
                    <th class="align-middle" colspan="2"><%= answer50 %></th>
                </tr>
                <tr>
                    <th class="table-secondary">Will you include the engineer in any project management tools to communicate with other members?<br><span class="text-muted">他のメンバとコミュニケーションするためのあらゆるプロジェクト管理ツールを扱える技術者を加えたいですか？</span></th>
                    <th class="align-middle" colspan="2"><%= answer51 %></th>
                </tr>
                <tr>
                    <th class="table-active">If yes to the previous question please provide the project management tool name here<br><span class="text-muted">前の質問にYesと答えた方はプロジェクト管理ツールの名前をここに記述してください。</span></th>
                    <th class="align-middle" colspan="2"><%= answer52 %></th>
                </tr>
                <tr>
                    <th class="table-secondary">Do you want to have a regular review on the development status?<br><span class="text-muted">開発ステータスの定期的な見直しをしたいですか？</span></th>
                    <th class="align-middle" colspan="2"><%= answer53 %></th>
                </tr>
                <tr>
                    <th class="table-active">Application security compliance specifics<br><span class="text-muted">アプリケーションセキュリティコンプライアンスの詳細</span></th>
                    <th class="align-middle" colspan="2"><%= answer54 %></th>
                </tr>
                <tr>
                    <th class="table-secondary">Any other specific risks / assumptions<br><span class="text-muted">他の特定のリスクや想定</span></th>
                    <th class="align-middle" colspan="2"><%= answer55 %></th>
                </tr>
                <tr>
                    <th class="table-active">Links to external documents to share<br><span class="text-muted">共有する外部ドキュメントとのリンク</span></th>
                    <th class="align-middle" colspan="2"><%= answer56 %></th>
                </tr>
                <tr>
                    <th class="table-secondary">Project incentives may be applied depending on performance result<br><span class="text-muted">プロジェクトのやる気はパフォーマンス結果によって影響されうる</span></th>
                    <th class="align-middle" colspan="2"><%= answer57 %></th>
                </tr>
                <tr>
                    <th class="table-active">other comments<br><span class="text-muted">その他コメント</span></th>
                    <th class="align-middle" colspan="2"><%= answer58 %></th>
                </tr>
            </tbody>
        </table>
        <div class="py-3 row">
            <div class="col-md-3">
                <input type="button" onclick="window.history.back();" value="Back" class="btn btn-block">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <input type="button" value="Confirm" class="btn btn-primary btn-block" id="ajax-button">
            </div>
        </div>
    </div>
    <footer class="my-5 pt-5 text-center text-small text-muted">
			
    </footer>
</body>
</html>